<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search SNPs</title>
</head>
<body>
    <h1>Search SNPs</h1>
    <form action="/query" method="post">
        <div>
            <label for="query">Enter rsid:</label>
            <input type="text" id="query1" name="query1">
        </div>
        <div>
            <label for="query">Enter mapped gene name:</label>
            <input type="text" id="query2" name="query2">
        </div>
        <div>
            <label for="query">Enter genomic postion/coordinate:</label>
            <input type="text" id="query3" name="query3">
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
</body>
</html>
